.cart_item_container {
  width: 100%;
  height: 350px;
  border-top: 1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  padding: 2rem 0;
}
.cart_item_container .image {
  flex: 2;
  background-color: rgb(247, 247, 247);
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cart_item_container .image img {
  width: 100%;
  height: 100%;
}
.cart_item_container .details {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
}
.cart_item_container .details .Product_cartItem_title {
  font-weight: bold;
}
.cart_item_container .details .category {
  font-weight: light;
}
.cart_item_container .details .price {
  font-weight: bold;
}
.cart_item_container .quantity {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}
.cart_item_container .quantity .btn {
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.cart_item_container .quantity .btn:hover {
  background-color: var(--orange);
}
.cart_item_container .remove_product_btn {
  flex: 1;
  height: 100%;
  text-align: right;
  font-size: 20px;
}
.cart_item_container .remove_product_btn span {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.cart_item_container .remove_product_btn span:hover {
  color: var(--orange);
}

/* responsiveeee */
@media (max-width: 1024px) {
  .cart_item_container {
    height: 250px;
  }
  .cart_item_container .image {
    height: 80%;
  }
  .cart_item_container .details {
    flex: 1;
    font-size: 12px;
  }
  .cart_item_container .quantity {
    gap: 0.6rem;
  }
  .cart_item_container .quantity .btn {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .cart_item_container {
    height: 200px;
  }
  .cart_item_container .image {
    height: 80%;
  }
  .cart_item_container .details {
    flex: 1;
    font-size: 12px;
  }
  .cart_item_container .quantity {
    gap: 0.6rem;
  }
  .cart_item_container .quantity .btn {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .cart_item_container {
    height: 200px;
  }
  .cart_item_container .image {
    height: 80%;
  }
  .cart_item_container .details {
    flex: 1;
    font-size: 12px;
  }
  .cart_item_container .quantity {
    gap: 0.6rem;
  }
  .cart_item_container .quantity .btn {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cart_item_container {
    height: 250px;
  }
  .cart_item_container .image {
    height: 70%;
  }
  .cart_item_container .details {
    flex: 1;
    font-size: 12px;
  }
  .cart_item_container .quantity {
    gap: 0.5rem;
  }
  .cart_item_container .quantity .btn {
    padding: 5px 8px;
    font-size: 10px;
  }
}
